:root{
    --color-primary:lightpink;
    --color-secondary:lightcyan;
}
/* reset pagging and margins of browsers */
*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
    /* allows u to use rems instead of pixels */
    /* when 5px = 0.05 rem */
    /*
    1 rem = 10px;
    1.6rem = 16px;
    2rem = 20px;
    6rem = 60px;
    */
}

/* Easy Pixel Calculations with rem units */
body{
    font-size:1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;

}

/* Fix browser bounce on macs */
body{
    overflow-x:auto;
    width:100%;
    overscroll-behavior: none;
    background-image: linear-gradient( #bfb3eb, #b3ace8);
    background-color: #b3ace8;
}

a{
    color:white;
    text-decoration: none;
}
p{
    margin:1rem 0 1rem 0;
}
h1,h2{
    text-align: center;
}
h1,h2, h3{
    line-height:1.2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
    line-height:2;
}
/* General Mobile FIrst CSS */

.container{

    max-width:120.0rem;
    margin:auto;
    padding:0 3rem 0 3rem;
}  

