---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro - Ashley Hernandez - Deploy</h1>
		<h2>Netlify</h2>

		<h3>It is easy to publish with Astro using Netlify</h3>
		<p>Localhost and Online Publishing</p>
	</body>
</html>
