---

---


<!-- Begin Showcase -->


<section id="showcase">
    <div id="showcasetest">
        <h1>Ashley Hernandez</h1>
        <h2>Portfolio</h2>
        <blockquote>It always seems impossible until it is done. - Nelson Mandela</blockquote>
    </div>

    <div id="showcaseimage">
        <img src="images/technologiesbig.png" alt="Technologies" id="logosbig" />
        <img src="/public/images/technologiessmall.png" alt="Technologies" id="logossmall">
    </div>

    <p id="showcaseintro">
        This is a showcase of my web design/development work.
    </p>
</section>
<!-- End Showcase -->
<style>
#showcase{
    border:.2rem solid none;
    background-color: #b3ace8;
    padding:3rem;
    background-image:url(/images/pmusicnotesbg.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

#showcasetext{
    border:.2rem solid none;
    color:white;
    text-align: center;
    margin:5rem auto;
    max-width:60rem;
    text-shadow:0 0 1rem #403b80;

}

#showcase h1{
    font-size:5rem;
    margin-bottom:2rem;
    text-shadow:.2rem 0 1rem #403b80;
    color:white;
}
#showcase blockquote{
    font-size:2.4rem;
    margin-bottom:2rem;
}
#showcaseimage{
    text-align:center;
}
#showcaseimage img{
    border-radius: 1rem;
    margin:auto;
    border:3px dashed #604e68;
    padding:10px;
    background-color: #403b8073;
}
#showcaseintro{
    color:white;
    text-align: center;
    font-size: 3rem;
    text-shadow:0 0 1rem #604e68;
}

#logosbig{
    display:none;
}
#logossmall{
    width:30rem;
}
/* End of showcase section styles */

/* media queries */
@media only screen and (min-width:320px){
        #features{
            background-color: #d0c5f2;
        }
    }
    @media only screen and (min-width:480px){
        #features{
            background-color: blue;
        }
        #pagefooter h3{
            padding-bottom:1.5rem;
            text-shadow:0 0 .2rem #604e68;
        }
        #showcase{
            border:.2rem solid none;
            
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:center;
        }

        #features{
        background-image: linear-gradient(to bottom, #cfc3eb, #cebfd6);
    }
}
    @media only screen and (min-width:768px){
        #features{
            background-color: yellow;
        }
        .card{
            flex-basis:30%;
        }
        #features .container{
            flex-direction: row;
        }
        h1,h2{
            text-align: center;
        }
        #pageheader .container{
            position:sticky;
        }
        #pagefooterlinks{
            text-shadow:0 0 .2rem #604e68;
            text-decoration: none;
            
        }
        #pagefooter h3{
            padding-bottom:1.5rem;
            text-shadow:0 0 .2rem #604e68;
        }
        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
    
            background-position:bottom -3rem center;
        }
        #features{
            background-image: linear-gradient(to bottom, #cfc3eb, #cebfd6);
        }
        #features .container{
            padding-top:2rem;
            background-image: linear-gradient(to bottom, #c0b4ea, #cebfd6);
        
        }
    }
    
    @media only screen and (min-width:1024px){
        #features{
            background-image: linear-gradient(to bottom, #bfb3eb, #cebfd6);
        }
        #logosbig{
            display: block;
            margin: auto;
        }
        #showcase blockquote{
            text-align: center;
        }
        #logossmall{
            display: none;
        }
        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:bottom -1rem center;
        }
    }
    @media only screen and (min-width:1200px){
        #features{
            background-image: linear-gradient(to bottom, #bfb3eb #cebfd6);;
        }
        #pagefooterlinks{
            display: block;
            background-color: none;
            gap: -2rem;
        }
        #pagefooterlinks p{
            display: block;
            background-color: none;
            margin-top:-.5rem;
        }

        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position:bottom -7rem center;
        }
    }
    @media only screen and (min-width:1400px){
        #features{
            background-image: linear-gradient(to bottom, #c0b0e9, #cebfd6);;
        }
        #pagefooterlinks{
            display: block;
        }
        #showcase{
            border:.2rem solid none;
    
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:bottom -15rem center;
        }
        #features .container{
            padding-top:2rem;
            background-color: burlywood;
            background-image: linear-gradient(to bottom, #c0b0e9, #cebfd6);
            border:2px dashed none;
            display:flex;
            gap:1rem;
            justify-content: space-between;
            flex-direction:row;
        }
    }
</style>