---

---
<!-- Begin page Header -->

<header id="pageheader">
    <div class="container">
        <div class="logo">
            <img src="images/logoo.png" alt="logo" />
        </div>

        <nav>
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
    </div>
    <!-- End Container -->

</header>
<!-- End Page Header -->

<style>
     /* Header styles */
    #pageheader{background-color: var(--color-primary);
        height:7.0rem;
    }

    /* Special Header container */
    #pageheader .container{
        background-color: #fffefe;
        border:2px dashed none;
        display:flex;
        width:100%;
        justify-content: space-between;
        align-items: center;
        height:100%;
        max-width: 100%;
        padding:0 2rem 0 2rem;

    }
    
    .logo img{
        height:9rem;
        padding-top:10px;
        animation-name: swim;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-direction: alternate-reverse;
    }
    
    @keyframes swim{
        from{
            transform: rotate(-5deg);
        }
        to{
            transform: rotate(40deg);
        }
    }
    

    /*  Header Menu */
    #menu{
        background-color: none;
        border:2px dashed none;
        display:flex;
        justify-content: space-between;
        width:20rem;
        list-style-type: none;
        background-color: none;
    }
    #menu li a{
        color:white;
        text-shadow:0 0 1rem #604e68;
    
    }
    #menu li a:hover{
        color:#403b80;
        text-shadow:0 0 .5px #8d7b95;

    }

    /* media queries */
    @media only screen and (min-width:320px){
        #features{
            background-color: #d0c5f2;
        }
    }
    @media only screen and (min-width:480px){
        #features{
            background-color: blue;
        }
        #pagefooter h3{
            padding-bottom:1.5rem;
            text-shadow:0 0 .2rem #604e68;
        }
        #showcase{
            border:.2rem solid none;
            
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:center;
        }

        #features{
        background-image: linear-gradient(to bottom, #cfc3eb, #cebfd6);
    }
}
    @media only screen and (min-width:768px){
        #features{
            background-color: yellow;
        }
        .card{
            flex-basis:30%;
        }
        #features .container{
            flex-direction: row;
        }
        h1,h2{
            text-align: center;
        }
        #pageheader .container{
            position:sticky;
        }
        #pagefooterlinks{
            text-shadow:0 0 .2rem #604e68;
            text-decoration: none;
            
        }
        #pagefooter h3{
            padding-bottom:1.5rem;
            text-shadow:0 0 .2rem #604e68;
        }
        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
    
            background-position:bottom -3rem center;
        }
        #features{
            background-image: linear-gradient(to bottom, #cfc3eb, #cebfd6);
        }
        #features .container{
            padding-top:2rem;
            background-image: linear-gradient(to bottom, #c0b4ea, #cebfd6);
        
        }
    }
    
    @media only screen and (min-width:1024px){
        #features{
            background-image: linear-gradient(to bottom, #bfb3eb, #cebfd6);
        }
        #logosbig{
            display: block;
            margin: auto;
        }
        #showcase blockquote{
            text-align: center;
        }
        #logossmall{
            display: none;
        }
        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:bottom -1rem center;
        }
    }
    @media only screen and (min-width:1200px){
        #features{
            background-image: linear-gradient(to bottom, #bfb3eb #cebfd6);;
        }
        #pagefooterlinks{
            display: block;
            background-color: none;
            gap: -2rem;
        }
        #pagefooterlinks p{
            display: block;
            background-color: none;
            margin-top:-.5rem;
        }

        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position:bottom -7rem center;
        }
    }
    @media only screen and (min-width:1400px){
        #features{
            background-image: linear-gradient(to bottom, #c0b0e9, #cebfd6);;
        }
        #pagefooterlinks{
            display: block;
        }
        #showcase{
            border:.2rem solid none;
    
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:bottom -15rem center;
        }
        #features .container{
            padding-top:2rem;
            background-color: burlywood;
            background-image: linear-gradient(to bottom, #c0b0e9, #cebfd6);
            border:2px dashed none;
            display:flex;
            gap:1rem;
            justify-content: space-between;
            flex-direction:row;
        }
    }
</style>

