<!-- Begin PageContent -->

<main id="pagecontent">
    <div class="container">
        <h2>Introduction</h2>
        <p>My name is Ashley Hernandez. I am a web developer based in Coalinga, California. I enjoy technology and music. </p>
        <h3>Career</h3>
        <p>My goal is to become a computer programmer. </p>
        <h3>Design</h3>
        <p>Another interest I have is music. I love designing and arranging stuff with styles.</p>
        <h3>Programming</h3>
        <p>Ovwer the last years i have been learning CSS and JavaScript.</p>
    
    </div>
    <!-- End Container -->

</main>

<!-- End PageContent -->

<style>
    
    #pagecontent{
        min-height:200px;
        padding:2rem 0 2rem 0;
        background-color: lightgoldenrodyellow;
        background-image: linear-gradient(to bottom, #cebfd6, #fffefe);
    }
    #pagecontent h2, h3{
        padding:2rem;
    }
    #pagecontent h2{
        font-size:4rem;
    }
    #pagecontent h3{
        font-size:2.5rem;
    }

    /* media queries */
    @media only screen and (min-width:320px){
        #features{
            background-color: #d0c5f2;
        }
    }
    @media only screen and (min-width:480px){
        #features{
            background-color: blue;
        }
        #pagefooter h3{
            padding-bottom:1.5rem;
            text-shadow:0 0 .2rem #604e68;
        }
        #showcase{
            border:.2rem solid none;
            
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:center;
        }

        #features{
        background-image: linear-gradient(to bottom, #cfc3eb, #cebfd6);
    }
}
    @media only screen and (min-width:768px){
        #features{
            background-color: yellow;
        }
        .card{
            flex-basis:30%;
        }
        #features .container{
            flex-direction: row;
        }
        h1,h2{
            text-align: center;
        }
        #pageheader .container{
            position:sticky;
        }
        #pagefooterlinks{
            text-shadow:0 0 .2rem #604e68;
            text-decoration: none;
            
        }
        #pagefooter h3{
            padding-bottom:1.5rem;
            text-shadow:0 0 .2rem #604e68;
        }
        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
    
            background-position:bottom -3rem center;
        }
        #features{
            background-image: linear-gradient(to bottom, #cfc3eb, #cebfd6);
        }
        #features .container{
            padding-top:2rem;
            background-image: linear-gradient(to bottom, #c0b4ea, #cebfd6);
        
        }
    }
    
    @media only screen and (min-width:1024px){
        #features{
            background-image: linear-gradient(to bottom, #bfb3eb, #cebfd6);
        }
        #logosbig{
            display: block;
            margin: auto;
        }
        #showcase blockquote{
            text-align: center;
        }
        #logossmall{
            display: none;
        }
        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:bottom -1rem center;
        }
    }
    @media only screen and (min-width:1200px){
        #features{
            background-image: linear-gradient(to bottom, #bfb3eb #cebfd6);;
        }
        #pagefooterlinks{
            display: block;
            background-color: none;
            gap: -2rem;
        }
        #pagefooterlinks p{
            display: block;
            background-color: none;
            margin-top:-.5rem;
        }

        #showcase{
            border:.2rem solid none;
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position:bottom -7rem center;
        }
    }
    @media only screen and (min-width:1400px){
        #features{
            background-image: linear-gradient(to bottom, #c0b0e9, #cebfd6);;
        }
        #pagefooterlinks{
            display: block;
        }
        #showcase{
            border:.2rem solid none;
    
            padding:3rem;
            background-image:url(/images/pmusicnotesbg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
            background-position:bottom -15rem center;
        }
        #features .container{
            padding-top:2rem;
            background-color: burlywood;
            background-image: linear-gradient(to bottom, #c0b0e9, #cebfd6);
            border:2px dashed none;
            display:flex;
            gap:1rem;
            justify-content: space-between;
            flex-direction:row;
        }
    }
</style>