<!-- Begin Semesters -->
<section id="semesters">
    <div class="container">
        <h2>key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">
                <img class="thumb" src="images/canvas1thumb.png" alt="Canvas 1">
                <img class="thumb" src="images/PBP1thumb.png" alt="PaintBrush Prototype 1">
                <img class="thumb" src="images/PBP2.png" alt="PaintBrush Prototype 2">
                <img class="thumb" src="images/Canvasinter.png" alt="Canvas Interface">
                <img class="thumb" src="images/PB App.png" alt="PaintBrush App">
                <img class="thumb" src="images/afb001.png" alt="AFB001 WAD">
            </div>
        </section>

        <h3>Semester 1</h3>
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Activities/CanvasDrawing1/canvasdrawing1.html" target="new">Canvas 1 Drawing</a></li>
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Activities/PaintBrushPrototype1/paintbrushprototype.html" target="new">PaintBrush Prototype 1</a></li>
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Demos/PaintBrushV1/paintbrushv1.html" target="new">Paintbrush Prototype 2</a></li>
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Demos/ArraysReview/array.html" target="new">Arrays</a></li>
        </ul>

        <h3>Semester 2</h3>
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Semester2/AFB001WAD/afb001wad.html" target="new">AFB001WAD</a></li>
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Demos/CanvasInterface/canvasinterface.html" target="new">Canvas Interface</a></li>
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Activities/PaintBrushPrototypeUndo/paintappprot5clearbuttonstarter.html" target="new">PaintBrush App</a></li>
            <li><a href="https://chsserver01.org/2023/ahernandez062023/Activities/AFB001/afb001.html" target="new">AFB001 - FB, JC, AC</a></li>
        </ul>
    </div>
    <!-- End Container -->

</section>
<!-- End Semesters -->