<!-- Begin Pagefooter -->
<footer id="pagefooter">
    <div class="container">
        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote> When i was young, I thought that money was the most important thing in life; now that I am old, I know that it is </blockquote>
            <p>- Oscar Wilde</p>
        </div>
        <!-- End Quote  -->

        <div id="pagefooterlinks">
            <h3>Links</h3>
            <ul>
                <p><a href="index.html">Home</a></p>
                <p><a href="about.html">About</a></p>
                <p><a href="blog.html">Blog</a></p>
            </ul>
        </div>
    </div>
    <!-- End Container -->
</footer>
<!-- End Pagefooter -->