<!-- Begin PageContent -->

<main id="pagecontent">
    <div class="container">
        <h2>Introduction</h2>
        <p>My name is Ashley Hernandez. I am a web developer based in Coalinga, California. I enjoy technology and music. </p>
        <h3>Career</h3>
        <p>My goal is to become a computer programmer. </p>
        <h3>Design</h3>
        <p>Another interest I have is music. I love designing and arranging stuff with styles.</p>
        <h3>Programming</h3>
        <p>Ovwer the last years i have been learning CSS and JavaScript.</p>
    
    </div>
    <!-- End Container -->

</main>

<!-- End PageContent -->