---

---
<!-- Begin page Header -->

<header id="pageheader">
    <div class="container">
        <div class="logo">
            <img src="/public/images/fishlogosmallanimate.png" alt="Koi fish logo" />
        </div>

        <nav>
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
    </div>
    <!-- End Container -->

</header>
<!-- End Page Header -->
